*.iml
.gradle
/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/gradle.xml
/build-cache
**/build/
**/lint/
**/.idea/
/app/schemas
/manual-uitest.sh
/app/src/main/res/values/build_id.xml
/test-translations.gradle
**/src/main/res/values-[a-z][a-z]/
**/src/main/res/values-[a-z][a-z][a-z]/
# Keep baseline profile
!**/baseline-prof.txt

# Exclude all other .txt files
*.txt
/build/reports/*.html
/build/reports/
**/detekt-baseline.xml
firebase-distribution.json
metro-firebase-distribution.json
.cache_ggshield
.htmlReport/
.kotlin/
contoursAI.license
venv/